@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%) no-repeat;
    height: 100vh;
}

.container {
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
    height: 60%;
    border-radius: 1.4375rem;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
}

.container-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -7rem;
}

.shadow {
    position: relative;
    top: -5rem;
}

.faq {
    position: relative;
    top: -10rem;
}

.faq-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #1E1F36;
}

.faq-topics {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-items {
    font-size: 0.8125rem;
    font-weight: 400;
    color: #4B4C5F;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid #E8E8EA;
    padding-bottom: 1rem;
}

.faq-items::after{
    content: url('../images/arrow-bottom.svg');
}

@media screen and (min-width: 762px) {
    .faq-items {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1200px){
    .container {
        flex-direction: row;
        width: 80%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }

    .container-image {
        top: 3rem;
        left: -10rem;
    }

    .img{
        width: 200%;
    }

    .shadow {
        top: -8rem;
        width: 150%;
    }

    .faq {
        top: 0;
        text-align: start;
    }

    .faq-title {
        padding-left: 1rem;
    }
}