@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%) no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: auto;
    width: 90%;
    border-radius: 1.4375rem;
    position: relative;
    padding-top: 8rem;
    top: 10rem;
}

.container-image {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translate(-55%);
}

.shadow {
    position: relative;
    top: -6rem;
    left: 2rem;
}

.faq-title {
    text-align: center;
    color: #1E1F36;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.faq-topics {
    padding: 1.6rem;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.faq-items {
    color: #4B4C5F;
    font-size: 0.8125rem;
    font-weight: 400;
}

.answer {
    color: #787887;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-bottom: .05rem solid #787887;
}
